* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
}

.time-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

  margin: 5rem;
  width: 50rem;
}
